* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  padding: 0 20%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
}
@media (max-width: 86em) {
  html {
    font-size: 57%;
  }
  .container {
    margin: 0 auto;
    padding: 0 10%;
  }
}
@media (max-width: 38em) {
  html {
    font-size: 50%;
  }
}
