@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.footer-container {
  background-color: #eeeffb;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.footer-subbox {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-title {
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: #000000;
}
.footer-subbox input {
  height: 4rem;
  width: 23rem;
  border: none;
  padding-left: 2rem;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 400;
  font-family: "lato", sans-serif;
}
.footer-subbox input::placeholder {
  color: #8a8fb9;
  opacity: 0.45;
}
.footer-signup-btn {
  height: 4rem;
  width: 10rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #eeeffb;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #8a8fb9;
}
.footer-subtitle {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #000000;
}

.footer-bottom {
  background-color: #e7e4f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.footer-bottom p {
  color: #9da0ae;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 600;
  font-family: "lato", sans-serif;
}
.footer-icons {
  display: flex;
  gap: 1rem;
}
.footer-icons p {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #151875;
  border-radius: 50%;
}
@media (max-width: 58em) {
  .footer-container {
    grid-template-columns: repeat(2, auto);
    row-gap: 5rem;
    column-gap: 2vw;
  }
}
@media (max-width: 35em) {
  .footer-container {
    padding: 6rem 5%;
  }
}
@media (max-width: 28em) {
  .footer-container {
    padding: 6rem 3rem;
    grid-template-columns: auto;
    row-gap: 4rem;
  }
  .footer-subbox {
    gap: 1rem;
  }
  .footer-bottom {
    padding: 0 3rem;
  }
}
@media (max-width: 20em) {
  .footer-email-signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
  }
  .footer-bottom {
    padding: 1rem 3rem;
    flex-direction: column;
    height: 8rem;
    gap: 1rem;
    justify-content: center;
  }
}
